* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: bottom;
  box-sizing: border-box;
  border-radius: 0;
  color: inherit;
  background-color: transparent;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: var(--font-sans);
  width: 100%;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.app-shell.loading {
  opacity: 0;
  pointer-events: none;
}

.app-shell {
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease;
}

.liquid {
  filter: url(#liquid);
}
